h1 {
  width:100%;
  background-color: pink;
  text-align: center;
  color: white;
  height: 60px;
  padding: 25 px 50px 75px 100px;
  float: left;
  font-family: Lucida Console
}
<style>
.clase {
    background-color: tomato;
}
</style>

#enlaces{
  width: 40 px
  color:brown
}
